body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Arial, Helvetica, sans-serif;

}

.header, .introduction, .content, .quote, .newsletter, .footer {
    display: flex;
    align-items: center;
    padding: 10px 150px 0 150px;
}

.header {
    background-color: #1F2937;
    justify-content: space-between;
}

h3 {
    color: white;
}

a {
    color: rgb(220, 220, 220);
    text-decoration: none;
    padding-left: 20px;
}

.introduction {
    background-color: #1F2937;
}

.left-intro {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 40px;
}

.image {
    display: flex;
    flex: 1;
    width: 50%;
    height: auto;
}

h1 {
    color: white;
}

.intro-text {
    color: rgb(220, 220, 220);
    font-size: 90%;
}

.content {
    justify-content: center;
    flex-direction: column;
}

.info-pages {
    display: flex;
    gap: 50px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quote {
    background-color: rgb(214, 214, 214);
    color: #4d4d4d;
    font-style: italic;
    font-size: 150%;
    justify-content: center;
    flex-direction: column;
}

.person {
    display: flex;
    margin-top: -17px;
    font-style: normal;
    font-size: 80%;
    color: #252525;
    align-self: flex-end;
}