body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Arial, Helvetica, sans-serif;

}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 10px 150px 0 150px;
    align-items: center;
}

h3 {
    color: white;
}

a {
    color: rgb(220, 220, 220);
    text-decoration: none;
    padding-left: 20px;
}

.introduction {
    display: flex;
    background-color: #1F2937;
    padding: 10px 150px 0 150px;
    align-items: center;
}

.left-intro {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 40px;
}

img {
    display: flex;
    flex: 1;
}

h1 {
    color: white;
}

.intro-text {
    color: rgb(220, 220, 220);
    font-size: 90%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-pages {
    display: flex;
    gap: 50px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
}